# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Virtual Environments
# =====================================
.venv/
venv/
env/
ENV/

# =====================================
# Django
# =====================================
db.sqlite3
*.sqlite3
media/
staticfiles/

# =====================================
# Environment Variables
# =====================================
.env
.env.*

# =====================================
# VS Code / PyCharm
# =====================================
.vscode/
.idea/

# =====================================
# OS Files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Build Files
# =====================================
dist/
build/
*.egg-info/

# =====================================
# Testing
# =====================================
.pytest_cache/
.coverage
htmlcov/

# =====================================
# TensorFlow Training Artifacts
# =====================================
*.h5
*.keras
*.ckpt
*.weights.h5
events.out.tfevents.*

# =====================================
# Ignore model ZIPs only
# =====================================
*.zip

# =====================================
# Keep deployment model
# =====================================
!predictor/model/class_names.json
!predictor/model/leaflens_savedmodel/**

# Local testing
test*.jpg
test*.png
test_model.py